<launch>

    <arg name="mocap_name"/>

    <include file="$(find mocap_qualisys)/launch/qualisys.launch"/>

    <node pkg="svea_mocap" type="mocap_only.py" name="mocap_only" output="screen">
        <param name="mocap_name" value="$(arg mocap_name)"/>
    </node>

    <!-- Adapter node from mocap Pose to VehicleState -->
    <node name="adapter_pose_to_vehicle_state" pkg="svea_mocap" type="adapter_pose_to_vehicle_state.py"
    output="screen">
        <param name="input_topic" value="$(arg input_topic)"/>
        <param name="output_topic" value="$(arg output_topic)"/>
        <param name="velocity_topic" value="$(arg velocity_topic)"/>
        <param name="state_verbose" value="$(arg state_verbose)"/>
    </node>

</launch>
